<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <% if user_signed_in? %>
          <div  class="navbar-brand">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>    
        <%end%>
      </div> 

      </div>
  </div>
</nav>