<head>
<style>
	.home-buttons{
		text-align: center;

	}
	h1 {
		text-align: center;
		font-family: 'Shadows Into Light', cursive;
		font-size: 100px;
		margin-left: 50px;
	}
	.buttons-list {
		list-style-type: none;
		margin-top: 100px;
	}

	li {
		margin: 70px 0;

	}

	#signin, #signup{
		height: 70px;
		width: 200px;
		padding: 20px;

	}

	body {
		margin: 100px 30px 100px 30px;
		
		background-image: url('http://i60.tinypic.com/zwypeo.jpg');
 		/*background-image: url('http://i60.tinypic.com/33or23d.jpg');*/
 		background-size: cover; 

 	}

</style>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){ 
		$('#signin').click(function(){ 
			$( "#home" ).load( "users/sign_in" );
			$('.whole').slideUp(1500);

		})

		$('#signup').click(function(){ 
			$( "#home" ).load( "users/sign_up" );
			$('.whole').slideUp(1500);
		
		})
	})	
</script>
</head>
<body>
<% if user_signed_in? %>
	<%= render 'nav' %>
<% end %>

<div class = 'whole'>
	<h1>Voluntinder</h1>
	<div class = 'home-buttons'>
		<ul class = 'buttons-list'>
			<a  id="signin" class="btn btn-warning btn-lg" role="button">Sign In</a> 
			<a  id="signup" class="btn btn-warning btn-lg" role="button">Sign Up</a>
		</ul>
	</div>
	</div>
	<div id='home'>
</div>
</body>





